fastapi
uvicorn
langchain
chromadb
langgraph
pandas
mysql-connector-python
sqlalchemy
redis
faiss-cpu
twilio
python-dotenv
autocorrect
regex
SpeechRecognition
vosk
requests
python-multipart
httpx